{% extends "auctions/layout.html" %}

{% block main %}
<h2>Add Restaurant</h2>

<form action="{% url 'create_restaurant' %}" method="POST">
    {% csrf_token %}
    <label>Restaurant Name:</label>
    <input type="text" name="restaurant_name">
    <div>
        <a class="button" href="{% url 'index' %}">Cancel</a>
        <input class="button" type="reset" name="reset" value="Reset">
        <input class="button" type="submit" name="submit" value="Add Restaurant">
    </div>
</form>
{% endblock %}