{% extends "auctions/layout.html" %}
{% load static %}
{% block main %}
<form action="{% url 'edit_profile' %}" method="POST" enctype="multipart/form-data">
<div class="row">
    <div class="col-2">
        <h2>Edit Profile</h2>        
    </div>
    <div class="col-2 flex float-right">
        <a class="vertical-center button float-right" href="{% url 'profile' %}">Cancel</a>
        <input class="vertical-center button-save float-right ml-10" type="submit" name="submit" value="Save"></input>
    </div>
</div>
<div class="card-gray p-25 center">
    {% if user.is_authenticated %}
        {% csrf_token %}
        <label class="center">Username:</label>
        <div class="center">
            <input type="text" name="username" value="{{ user.username }}">
        </div>
        <div class="center">
            {% if user.profile_picture %}
            <img class="profile-picture" src="{{ user.profile_picture.url }}" width="200px">
            {% else %}
            <img class="profile-picture" src="/media/images/profile/Default.png" width="200px">
            {% endif %}
        </div>
        <div class="center">
            <input type="file" name="profile_picture" accept="image">
        </div>
        <div class="center">
            <div class="p-25">
                <label>First Name</label>
                <input type="text" name="first_name" value="{{ user.first_name }}">
            </div>
            <div class="p-25">
                <label>Last Name</label>
                <input type="text" name="last_name" value="{{ user.last_name }}">
            </div>
        </div>
        {% endif %} 
    </div>
</form>
{% endblock %}