{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
        <link rel="stylesheet" href="{% static 'auctions/uaa490styles.css' %}" >
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <header>
            <h1>Eater Helper</h1>
            <nav>
                <span>
                    <a class="nav-button" href="{% url 'index' %}">Restaurants</a>
                    <a class="nav-button">Categories</a>
                </span>
                <span>
                    {% if user.is_authenticated %}
                        {% if user.profile_picture %}
                        <img class="profile-picture-nav vertical-center" src="{{ user.profile_picture.url }}" width="200px">
                        {% else %}
                        <img class="profile-picture-nav" src="/media/images/profile/Default.png" width="200px">
                        {% endif %} 
                    <a class="nav-button" href="{% url 'profile' %}">Welcome <strong>{{ user.username }}!</strong></a>
                    <a class="nav-button" href="{% url 'logout' %}">Log Out</a>
                    {% else %}
                    <a class="nav-button" href="{% url 'login' %}">Log In</a>
                    <a class="nav-button" href="{% url 'register' %}">Register</a>
                    {% endif %} 
                </span>
            </nav>
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
    </body>
</html>
